asgiref 
Django 
django-filter 
django-guardian 
djangorestframework 
Markdown 
setuptools
importlib_metadata


aioredis 
async-timeout 
attrs 
autobahn 
Automat 
cffi 
channels 
channels-redis 
constantly 
cryptography>=3.2
daphne 
django-background-tasks 
django-compat 
django-cors-headers 
hiredis 
hyperlink 
idna 
incremental 
msgpack 
psycopg2-binary 
pyasn1 
pyasn1-modules 
pycparser 
PyHamcrest 
pyOpenSSL 
pytz 
service-identity 
six 
sqlparse 
Twisted 
txaio 
zope.interface 